*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --borderRadius1: 1rem;
    --borderRadius2: 0.5rem;

    --boxShadow: box-shadow: 0px 0px 23px -14px rgba(66, 68, 90, 1);
    --boxShadow2: box-shadow: 0px 0px 29px -4px rgba(66, 68, 90, 1);

    /* COLOR PALETTE */
    --gradient1: linear-gradient(0deg,rgba(251, 213, 189, 1) 0%, rgba(251, 245, 240, 1) 50%);
    --gradient2: linear-gradient(0deg,rgba(199, 194, 206, 1) 0%, rgba(251, 213, 189, 1) 50%);
    --gradient3: linear-gradient(0deg,rgba(199, 194, 206, 1) 0%, rgba(138, 131, 218, 1) 50%);
    --gradient4: linear-gradient(0deg,rgba(251, 213, 189, 1) 0%, rgba(138, 131, 218, 1) 35%, rgba(70, 54, 153, 1) 65%, rgba(38, 35, 53, 1) 100%);
    --gradient5: linear-gradient(0deg,rgba(70, 54, 153, 1) 0%, rgba(38, 35, 53, 1) 100%);

    --bg: #f1f1f1;
    --fg: #2c2627;

    --softLavender: #c8a2c8;
}

/* *{
    border: 1px solid black;
} */

html, body{
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

/* ===================================== */
/* =========== MOBILE-FIRST ========== */
/* ================================= */

body {
  display: flex;
  flex-direction: column; /* stack elements vertically */
  padding: 1rem;
  gap: 10px;
  width: 90%;
  margin: 0 auto;

  background: var(--gradient4);
  color: var(--fg);
}

/* ========================== */
/* ==== HEADER SECTION ==== */
/* ====================== */

header{
    grid-area: header;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--bg);
    border-radius: var(--borderRadius1);
    box-shadow: var(--boxShadow1);
}

header h1{
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin: 10px;
}

nav{
   display: flex;
   flex-direction: row;
   justify-content:space-evenly;
   flex-wrap: wrap;
   align-items: center;
   width: 100%;

}

nav a{
    text-decoration: none;
    color: var(--fg);
    font-family: monospace;
}

nav a:hover{
    letter-spacing: 2px;
    color: white;
}

/* ========================== */
/* ==== ASIDE SECTION ===== */
/* ======================= */

aside{
    grid-area: asideLeft;
    padding: 1rem;

    background-color: var(--bg);
    border-radius: var(--borderRadius1);
}

/* ========================== */
/* ==== MAIN SECTION ======= */
/* ======================== */

main{
    grid-area: main;
    padding: 1rem;
    background-color: var(--bg);
    border-radius: var(--borderRadius1);
}

/* ========================== */
/* ==== FOOTER SECTION ===== */
/* ======================== */

footer{
    grid-area: footer;
    padding: 1rem;

    background-color: var(--bg);
    border-radius: var(--borderRadius1);
}

/* =========================== */
/* ==== SECTIONs styling ==== */
/* ========================= */
section p,li{
    font-family: monospace;
}

section h2{
    text-align: center;
    margin: 10px;

    text-transform: uppercase;
}

.section1{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: var(--borderRadius2);
}

.section1 p{
    font-size: 14px;
    line-height: 17px;
}



.section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 200px;
}  

.section2 p{
    padding: 5px;
    text-transform: lowercase;
    font-style: italic;
    text-align: center;
    opacity: 80%;
}

.section3 #getStartedWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.section3 article{
    padding: 8px;
    height: 100%;

    color: white;
    background: var(--gradient3);
    margin: 3px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    border-radius: var(--borderRadius2);
    box-shadow: 0px 0px 23px -14px rgba(66, 68, 90, 1);
}

.section3 em{
    font-size: 15px;
    letter-spacing: 2px;
}

.section3 a{
    color: white;
}

.section3 a:hover{
    color: #000;
    background-color: white;
}

#friendsIMG{
    background-image: url(assets/friends.jpg);
}

#textingIMG {
    background-image: url(assets/chatting.jpg);
}   

#computerIMG {
    background-image: url(assets/womancomputer.jpg);
}

#friendsIMG, #textingIMG, #computerIMG{
    background-size: cover;
    background-position: center;
    height: 100%;

    display: flex;
    justify-content:center;
    align-items: center;
}

.purpose{
    display: flex;
    align-items: start;
    background-color: var(--bg);
    opacity: 70%;
    height: 100px;
    width: 100%;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

/* Tablet & up (bigger screens) */
@media (min-width: 600px) {
  nav ul {
    flex-direction: row; /* horizontal menu */
    justify-content: center;
  }
}

/* Desktop & up (even bigger) */
@media (min-width: 1024px) {
    body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    grid-template-areas: 
    "header header header"
    "asideLeft main main"
    "asideLeft footer footer";
}
}
